.CouponRad {
  display: flex;
  justify-content: space-around;
}
.CouponRad .copouns {
  padding-left: 22px;
}
@media screen and (max-width: 576px) {
  .CouponRad {
    justify-content: space-between;
  }
  .CouponRad .copouns {
    padding-left: 23px;
  }
}
/* --------------------------------- coupon --------------------------------- */
.colorCopon {
  background-color: #ff9900;
}
.Triangular::after {
  content: "";
  width: 10px;
  height: 10px;
  background: white;
  position: absolute;
  top: -6px;
  left: 4%;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
}
.bord {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
.p-Top5 {
  top: 5px;
}
.txtColor {
  color: #a7a7a8;
}
.btnCus {
  width: 100%;
  outline: none;
  border-radius: 25px;
  border: none;
  font-size: medium;
  font-weight: 300;
}
